@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav-desk a .active p{
    color: blue !important;
    background-color: aqua;
}

.hero-heading, h1{
    font-family: "Geist", serif;
    font-size: 2.5rem;
}

.blog-h2{
    font-family: "Geist", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 1px;
}

.active p{
    background-color: black;
    color: white;
}

.about li{
    padding-top: .5rem;
}

.parse h2{
    font-size: 32px;
    font-weight: bold;
}
